click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
nltk==3.5
pyenchant==3.1.1
regex==2020.9.27
tqdm==4.50.0
Werkzeug==1.0.1
WTForms==2.3.3
