<html>

<head>
  <meta name="description" content="PyDictionary is an offline English dictionary made using Python along with the Wordnet Lexical Database and Enchant Spell Dictionary." />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>PyDictionary</title>
  {% endif %}
  {% block staticfiles %}
  {% endblock %}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>

  {% block content %}{% endblock %}
</body>

</html>