<html>

<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>PyDictionary</title>
  {% endif %}
  <style>
    body {
      width: 60%;
      margin: 0 auto;
      font-family: Tahoma, Verdana, Arial, sans-serif;
      background-color: lightgrey;
      color:black;
    }

div.container4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
  </style>
</head>

<body>
  <div class=container4>
  {% block content %}{% endblock %}
</div>
</body>

</html>
