*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color:lightseagreen;
}

.fake-link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

header .heading-title{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: Tahoma, Verdana, Arial, sans-serif;;
}


.input-field{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: ; */
}

.input-field .input{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-bottom: 2em;
}

.input-field .input:focus{
    border: none;
    outline: none;
}

.input-field .input-submit{
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #0b6a75;
    color: #ffffff;
    width: 135px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
}

@media all and (max-width: 768px) {

    .container{
        width: 90%;
        height: auto;
    }

    .input-field{
        width: 60vw;
        display: flex;
        /* height: 70px; */
    }

    .input-field .input{
        flex-basis: 85%;
    }

    .input-field .input-submit{
        flex:auto;
    }

}

@media all and (max-width: 600px){

    .container{
        width: 98%;
        height: auto;
    }

    .input-field{
        width: 80vw;
    }

    header .heading-title{
        font-size: 3em;
    }

}