*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: lightblue;
    color: black;
    overflow-x: hidden;
}

.fake-link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.research,.results{
    flex-basis: 49%;
}

.research {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.research .research-title{
    font-size: 3em;
}

.research .research-form .input-field{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.research .research-form .input-field .input{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-bottom: 2em;
}

.research .research-form .input-field .input:focus{
    border: none;
    outline: none;
}

.research .research-form .input-field .input-submit{
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #0b6a75;
    color: #ffffff;
    width: 135px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
}

.results{
    padding: 2em 0;
    overflow-y: auto;
    height: 100vh;
}

.results .results-content{
    width: 90%;
    margin: auto;
}

.word-result-box {
    display: flex;
    padding: 8px 16px;
    background: white;
    border-radius: 8px;
    margin-bottom: 16px;
    flex-direction: column;
}

.word-result-box p {
    margin: 6px 0px;
    text-align: left;
}

.divider {
    height: 2px;
    width: 100%;
    background: #ccc;
}

@media all and (max-width: 768px){

    .container{
        flex-direction: column;
        height: auto;
    }

    .results, .research{
        flex:auto;
    }

    .research{
        height: 40vh;
    }

    .research .research-form .input-field{
        width: 70vw;
    }
}

@media all and (max-width: 600px){

    .research{
        box-sizing: content-box;
    }
    
    .research .research-form .input-field{
        margin: 0 auto 2em;
    }

    .input{
        border-radius: 7px;
    }

    .results{
        padding-bottom: 3em;
    }
}